# Environments
# [.env] ignore any file or folder named ".env" within any directory in the repository
# [/.env] ignore any file or folder ".env" in the root directory of the repository
/.env
venv/


# Mac 
.DS_Store
# 

.etc/server.*
# Ignore the credentials directory
.etc/fcm/
.vscode/*


# pycache
*.pyc
__pycache__

**.db
/db.sqlite3
/*.json