{% extends 'auth/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-11 col-md-4 mx-auto mt-5 text-center">
    <h2>Vérification envoyée</h2>
    <p>Si un compte actif existe avec l'adresse e-mail que vous avez fournie, vous recevrez sous peu un lien pour réinitialiser votre mot de passe.</p>
    <p>Veuillez vérifier votre boîte de réception ainsi que votre dossier de spam.</p>
    <a href="" class="btn btn-primary mt-3">Retour à la connexion</a>
</div>
{% endblock %}
